<form>
  <div class="input-group">
    <input #searchBox [(ngModel)]="symbol" type="text" class="form-control" name="symbol" placeholder="Escribe aqui la empresa que quieres buscar y dale a intro / buscar (ej: MSFT/microsoft)"
      (keyup.enter)="generateList(searchBox.value)"/>
    <button type="button" class="btn btn-primary" (click)="generateList(searchBox.value)"><i class="fa fa-search">Buscar</i></button>
  </div>
</form>
<ul class="list-group list-group-flush pt-0 pb-0" [hidden]="isHidden">
  <div *ngFor="let empresa of nameData">
    <div class="list-group-item d-flex align-items-center" (click)="populateSearch(empresa.symbol)">
      <h5>{{empresa.name}} <h6>{{empresa.symbol}}</h6></h5>
      
    </div>
  </div>
</ul>
